.rss {
  background: #ffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;
}

.rss h2 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45%;
  padding: 20px;
}

.logo > div {
  position: relative;
  width: 150px;
  height: 150px;
  animation: rotate-logo 6s infinite linear;
}

.logo a {
  padding: 10px 20px;

  color: #fff;

  background: #fa9e1b;
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
}

.logo img {
  width: 150px;
  height: 150px;

  vertical-align: middle;

  border-style: none;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

.logo a:hover img {
  transform: rotate(360deg);
}

.description {
  width: 45%;
  padding: 20px;
  text-align: center;
}

.description p {
  margin-bottom: 20px;
  line-height: 2;
  color: #555;
}

@keyframes rotate-logo {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (width <= 980px) {
  .rss h2 {
    margin-bottom: 70px;
  }
  
  .content {
    flex-direction: column;
  }
  
  .logo {
    width: 90%;
    height: auto;
    margin-bottom: 35px;
  }
  
  .description {
    width: 90%;
  }
}

@media only screen and (width <= 520px) {
  .container {
    padding: 5px;
  }
  
  .logo {
    padding: 5px;
  }
  
  .description {
    padding: 5px;
  }
}