.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 40px auto;
  padding: 30px;
  background-color: #dcdcdc;
  text-align: center;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.buttons__container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.buttons__container .reset__btn {
  border: 1px solid black;
  background-color: grey;
}
