@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

:root {
  --color-main: #61dafb;
  --color-lightgreen: #20232a;
  --color-skeleton-color: #616263;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Kelly Slab', sans-serif;
  color: var(--color-main);
}

#root {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;

  background-color: var(--color-lightgreen);
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  min-height: 100vh;
  padding: 8px;

  background-color: var(--color-lightgreen);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
