.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  border-radius: 10px;
}

.logo h2 {
  padding: 0;
  margin: 0;
}

.title {
  color: #fa9e1b;
}
