.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f3f6f9;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  border-radius: 10px;
}

.logo h2 {
  padding: 0;
  margin: 0;
}
