/* Стилі, які будуть застосовані за замовчуванням для всіх екранів */
.container {
  display: flex;
  justify-content: center;

  width: 90%;
  margin: 0 auto;
  padding: 0 20px;

  font-size: 18px;
}

/* Медіа-запит для екранів шириною до 1440px (включно) (ноутбук) */
@media only screen and (width <= 1440px) {
  .container {
    margin: 0 auto;
    font-size: 18px;
  }
}

/* Медіа-запит для екранів шириною до 768px (включно) (планшет) */
@media only screen and (width <= 768px) {
  .container {
    width: 90%; 
    padding: 0 10px;
    font-size: 16px;
  }
}

/* Медіа-запит для екранів шириною до 520px (включно) (телефон) */
@media only screen and (width <= 520px) {
  .container {
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
  }
}
