body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fa9e1b;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
